
html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #48C2F9;
}

#start{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-over{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#victory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #48C2F9
}

#canvas{
    display: none;
}

#button-try{
    margin: 20px;
    padding: 20px;
    border: 3px black solid;
    border-radius: 50px;
}

#start-button{
    background-color: #48C2F9;
    margin: 20px;
    padding: 20px;
    border: 5px #FFCE00 solid;
    border-radius: 20px;
}