#start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-over{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


